.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display-flex{
    display: flex;
}
.justify-space{
    justify-content: space-between;
}

.align-start{
    align-items: flex-start;
}

.flex-end{
    justify-content: flex-end;
}
.flex-center{
    justify-content: center;
    align-items: center; 
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-20{
    flex: 0 1 20%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-35{
    flex: 0 1 35%;
}
.flex-45{
    flex: 0 1 45%;
}

.flex-48{
    flex: 0 1 48%;
}
.flex-60{
    flex: 0 1 60%;
}
